[Unit]
Description=pgSentinel Daily Base Backup Trigger
Requires=pgsentinel-backup.service

[Timer]
OnCalendar=*-*-* 02:00:00
Persistent=true

[Install]
WantedBy=timers.target
